<div class="row">
  <div class="col-sm-8 col-md-9" style="min-height: 923px;">
    <div class="page-header page-header-bleed-right">
      <div class="actions pull-right">
        <a href="#"><span class="pficon pficon-refresh"></span> Actualizar</a>
      </div>
      <h1>Debe y haber</h1>
    </div>

    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Nuevos soles
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.nuevosSoles.debe | currency: 'S/.'" class="card-pf-aggregate-status-count"></span></a>
                  </h2>
                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Debe</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.nuevosSoles.haber | currency: 'S/.'" class="card-pf-aggregate-status-count"></span></a>
                  </h2>
                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Haber</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Dolares americanos
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.dolares.debe | currency: '$'" class="card-pf-aggregate-status-count"></span></a>
                  </h2>
                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Debe</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.dolares.haber | currency: '$'" class="card-pf-aggregate-status-count"></span></a>
                  </h2>
                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Haber</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Euros
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.euros.debe | currency: ''" class="card-pf-aggregate-status-count"></span></a>
                  </h2>
                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Debe</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.euros.haber | currency: ''" class="card-pf-aggregate-status-count"></span></a>
                  </h2>
                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Haber</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-card-pf">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Historial
            </h2>
          </div>
          <div class="card-pf-body">
            <ul class="nav nav-tabs nav-tabs-pf">
              <li class="active"><a href="#">Nuevos soles</a></li>
              <li><a href="#">Dolares americanos</a></li>
              <li><a href="#">Euros</a></li>
              <li class="pull-right">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Ultimo mes
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                  </ul>
                </div>
              </li>
            </ul>
            <div ui-view>
              <br/>

              <div class="row" style="display:inline-block; width: 95%;">
                <div class="col-md-12">
                  <div pf-trends-chart config="config" chart-data="data"
                       show-x-axis="custShowXAxis" show-y-axis="custShowYAxis"></div>
                </div>
                <hr class="col-md-12">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <form role="form">
                        <div class="form-group">
                          <label>Show</label></br>
                          <label class="checkbox-inline">
                            <input type="checkbox" ng-model="custShowXAxis">X Axis</input>
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" ng-model="custShowYAxis">Y Axis</input>
                          </label>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-3">
                      <form role="form">
                        <div class="form-group">
                          <label>Layout</label></br>
                          <select pf-select class="pf-select-sm" ng-model="layout" id="layout">
                            <option value="large" ng-selected="true" selected>Large</option>
                            <option value="small">Small</option>
                            <option value="compact">Compact</option>
                            <option value="inline">Inline</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-3">
                      <form role="form" ng-hide="layout == 'inline'">
                        <div class="form-group">
                          <label>Title Value Type</label></br>
                          <select pf-select class="pf-select-sm" ng-model="valueType" id="valueType">
                            <option value="actual" ng-selected="true" selected>Actual</option>
                            <option value="percentage">Percentage</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-2">
                      <button ng-click="addDataPoint()">Add Data Point</button>
                    </div>
                  </div>
                  <hr class="col-md-12">
                  <div class="col-md-12">
                    <div pf-card head-title="Cluster Utilization" show-top-border="true"
                         footer="footerConfig" filter="filterConfig">
                      <div pf-trends-chart config="config2" chart-data="data"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /col -->

  <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 223px;">
    <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
      <h2 class="h5">Datos adicionales</h2>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <h3 class="list-group-item-heading">Fecha</h3>

        <p data-ng-bind="fecha | date: 'dd/MM/yyyy'" class="list-group-item-text"></p>
      </li>
    </ul>
    <p>Los datos consignados corresponden a las fechas indicadas.</p>
  </div>
  <!-- /col -->

</div>
