<div class="row">
  <div class="col-sm-6" style="min-height: 923px;">
    <div class="page-header page-header-bleed-right">
      <div class="actions pull-right">
        <a href="#"><span class="pficon pficon-refresh"></span> Actualizar</a>
      </div>
      <h1>Caja</h1>
    </div>

    <div class="row row-cards-pf">
      <div class="col-sm-4">
        <div class="card-pf card-pf-accented card-pf-aggregate-status">
          <h2 class="card-pf-title">
            <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.cajaSoles | currency: 'S/.'"
                                                                         class="card-pf-aggregate-status-count"></span></a>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification"><a href="#"><span>Nuevos Soles</span></a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-pf card-pf-accented card-pf-aggregate-status">
          <h2 class="card-pf-title">
            <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.cajaDolares | currency: '$'"
                                                                         class="card-pf-aggregate-status-count"></span></a>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification"><a href="#"><span>Dolares</span></a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-pf card-pf-accented card-pf-aggregate-status">
          <h2 class="card-pf-title">
            <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.cajaEuros | currency: '&#8364'"
                                                                         class="card-pf-aggregate-status-count"></span></a>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification"><a href="#"><span>Euros</span></a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div pf-c3-chart id="chartId"  config="chartConfig"></div>
      </div>
    </div>

    </br></br>
    <form name="form" class="form-horizontal" novalidate>
      <div class="row row-card-pf">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="card-pf">
            <div class="card-pf-heading" style="border-top: 1px solid #d1d1d1;">
              <h2 class="card-pf-title"><strong>Por Agencia</strong></h2>
            </div>
            <div class="card-pf-body">

              <div class="form-group" data-ng-class="{ 'has-error' : form.sucursal.$invalid && form.$submitted }">
                <label class="col-sm-3 control-label"><span class="required">*</span> Sucursal:</label>
                <div class="col-sm-5">
                  <ui-select name="sucursal" data-ng-model="combo.selected.sucursal" pf-focused="true" autofocus required>
                    <ui-select-match placeholder="Seleccione">{{$select.selected.denominacion}}</ui-select-match>
                    <ui-select-choices repeat="item in combo.sucursal | filter: $select.search">
                      <div data-ng-bind-html="item.denominacion | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                  <div data-ng-messages="form.sucursal.$error" data-ng-if="form.$submitted">
                    <div class="has-error" data-ng-message="required">Ingrese sucursal.</div>
                  </div>
                </div>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : form.agencia.$invalid && form.$submitted }">
                <label class="col-sm-3 control-label"><span class="required">*</span> Agencia:</label>
                <div class="col-sm-5">
                  <ui-select name="agencia" data-ng-model="combo.selected.agencia" required>
                    <ui-select-match placeholder="Seleccione">{{$select.selected.denominacion}}</ui-select-match>
                    <ui-select-choices repeat="item in combo.agencia | filter: $select.search">
                      <div data-ng-bind-html="item.denominacion | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                  <div data-ng-messages="form.agencia.$error" data-ng-if="form.$submitted">
                    <div class="has-error" data-ng-message="required">Ingrese agencia.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary" data-ng-click="loadMontoCajasPorAgencias()">Cargar</button>
                </div>
              </div>

              <div class="row row-cards-pf">
                <div class="col-sm-4">
                  <div class="card-pf card-pf-accented card-pf-aggregate-status">
                    <h2 class="card-pf-title">
                      <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.caja.soles | currency: 'S/.'"
                                                                                   class="card-pf-aggregate-status-count" style="font-size: 14px;"></span></a>
                    </h2>
                    <div class="card-pf-body">
                      <p class="card-pf-aggregate-status-notifications">
                        <span class="card-pf-aggregate-status-notification"><a href="#"><span style="font-size: 14px;">Nuevos Soles</span></a></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card-pf card-pf-accented card-pf-aggregate-status">
                    <h2 class="card-pf-title">
                      <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.caja.dolares | currency: '$'"
                                                                                   class="card-pf-aggregate-status-count" style="font-size: 14px;"></span></a>
                    </h2>
                    <div class="card-pf-body">
                      <p class="card-pf-aggregate-status-notifications">
                        <span class="card-pf-aggregate-status-notification"><a href="#"><span style="font-size: 14px;">Dolares</span></a></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card-pf card-pf-accented card-pf-aggregate-status">
                    <h2 class="card-pf-title">
                      <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.caja.euros | currency: '&#8364'"
                                                                                   class="card-pf-aggregate-status-count" style="font-size: 14px;"></span></a>
                    </h2>
                    <div class="card-pf-body">
                      <p class="card-pf-aggregate-status-notifications">
                        <span class="card-pf-aggregate-status-notification"><a href="#"><span style="font-size: 14px;">Euros</span></a></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <!-- /col -->

  <div class="col-sm-6 sidebar-pf sidebar-pf-right" style="min-height: 223px;">
    <div class="page-header page-header-bleed-right">
      <div class="actions pull-right">
        <a href="#"><span class="pficon pficon-refresh"></span> Actualizar</a>
      </div>
      <h1>Bancos</h1>
    </div>
  </div>
  <!-- /col -->

</div>





