<div class="row">
  <div class="col-sm-8 col-md-9" style="min-height: 923px;">
    <div class="page-header page-header-bleed-right">
      <div class="actions pull-right">
        <button type="button" class="btn btn-link"><span class="pficon pficon-refresh"></span> Actualizar</button>
      </div>
      <h1>Debe y haber</h1>
    </div>

    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Nuevos soles
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.nuevosSoles.debe | currency: 'S/.'"
                                                                                 class="card-pf-aggregate-status-count"></span></a>
                  </h2>

                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Debe</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.nuevosSoles.haber | currency: 'S/.'"
                                                                                 class="card-pf-aggregate-status-count"></span></a>
                  </h2>

                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Haber</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Dolares americanos
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.dolares.debe | currency: '$'"
                                                                                 class="card-pf-aggregate-status-count"></span></a>
                  </h2>

                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Debe</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.dolares.haber | currency: '$'"
                                                                                 class="card-pf-aggregate-status-count"></span></a>
                  </h2>

                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Haber</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              Euros
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.euros.debe | currency: '&#8364'"
                                                                                 class="card-pf-aggregate-status-count"></span></a>
                  </h2>

                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Debe</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cards-pf">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                  <h2 class="card-pf-title">
                    <a href="#"><span class="pficon pficon-cluster"></span><span data-ng-bind="total.euros.haber | currency: '&#8364'"
                                                                                 class="card-pf-aggregate-status-count"></span></a>
                  </h2>

                  <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification"><a href="#"><span></span>Haber</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-card-pf">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">Historial</h2>
          </div>
          <div class="card-pf-body">
            <ul class="nav nav-tabs nav-tabs-pf">
              <li ui-sref-active="active">
                <a href ui-sref=".historialNuevosSoles">Nuevos soles</a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref=".historialDolares">Dolares americanos</a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref=".historialEuros">Euros</a>
              </li>
            </ul>
            <div ui-view></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /col -->

  <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 223px;">
    <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
      <h2 class="h5">Datos adicionales</h2>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <h3 class="list-group-item-heading">Fecha</h3>

        <p data-ng-bind="fecha | date: 'dd/MM/yyyy'" class="list-group-item-text"></p>
      </li>
    </ul>
    <p>Los datos consignados corresponden a las fechas indicadas.</p>
  </div>
  <!-- /col -->

</div>
